In [0]:
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType, DoubleType, BooleanType, DateType

Mounting the container in storage account as /mnt/tokyoolympic to access the data inside it

In [0]:
configs = {"fs.azure.account.auth.type": "OAuth",
"fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
"fs.azure.account.oauth2.client.id": "b7e1810a-973c-4f80-84f5-f078be10e384",
"fs.azure.account.oauth2.client.secret": "YxQ8Q~z3gs-~F-3BuZAm~NnRQ2AhvMI~StQDFb9u",
"fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/8a2efb46-ae75-4972-b10f-bb21c59bd8bf/oauth2/token"}

dbutils.fs.mount(
    source = "abfss://tokyo-olympic-data@olympicdata2021.dfs.core.windows.net/",
    mount_point = "/mnt/tokyoolympic",
    extra_configs = configs)

Out[11]: True

In [0]:
%fs
ls "/mnt/tokyoolympic"

path,name,size,modificationTime
dbfs:/mnt/tokyoolympic/raw-data/,raw-data/,0,1692282033000
dbfs:/mnt/tokyoolympic/transformed-data/,transformed-data/,0,1692282047000

In [0]:
spark

Reading data from the location: /mnt/raw-data

In [0]:
athletes = spark.read.format("csv").option("header", "True").load("/mnt/tokyoolympic/raw-data/athletes.csv")
coaches = spark.read.format("csv").option("header", "True").load("/mnt/tokyoolympic/raw-data/coaches.csv")
entries_gender = spark.read.format("csv").option("header", "True").load("/mnt/tokyoolympic/raw-data/entries_gender.csv")

In [0]:
teams.show()

+-------------+--------------+--------------------+------------+
|         Name|    Discipline|                 NOC|       Event|
+-------------+--------------+--------------------+------------+
|      Belgium|3x3 Basketball|             Belgium|         Men|
|        China|3x3 Basketball|People's Republic...|         Men|
|        China|3x3 Basketball|People's Republic...|       Women|
|       France|3x3 Basketball|              France|       Women|
|        Italy|3x3 Basketball|               Italy|       Women|
|        Japan|3x3 Basketball|               Japan|         Men|
|        Japan|3x3 Basketball|               Japan|       Women|
|       Latvia|3x3 Basketball|              Latvia|         Men|
|     Mongolia|3x3 Basketball|            Mongolia|       Women|
|  Netherlands|3x3 Basketball|         Netherlands|         Men|
|       Poland|3x3 Basketball|              Poland|         Men|
|          ROC|3x3 Basketball|                 ROC|         Men|
|          ROC|3x3 Basketball|                 ROC|       Women|
|      Romania|3x3 Basketball|             Romania|       Women|
|       Serbia|3x3 Basketball|              Serbia|         Men|
|United States|3x3 Basketball|United States of ...|       Women|
|    Australia|       Archery|           Australia|  Men's Team|
|    Australia|       Archery|           Australia|  Mixed Team|
|   Bangladesh|       Archery|          Bangladesh|  Mixed Team|
|      Belarus|       Archery|             Belarus|Women's Team|
+-------------+--------------+--------------------+------------+
only showing top 20 rows

In [0]:
athletes.printSchema()

root
 |-- Name: string (nullable = true)
 |-- NOC: string (nullable = true)
 |-- Discipline: string (nullable = true)

In [0]:
coaches.printSchema()

root
 |-- Name: string (nullable = true)
 |-- NOC: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Event: string (nullable = true)

In [0]:
entries_gender.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: string (nullable = true)
 |-- Male: string (nullable = true)
 |-- Total: string (nullable = true)

In [0]:
entries_gender = entries_gender.withColumn("Female", col("Female").cast(IntegerType()))\
    .withColumn("Male", col("Male").cast(IntegerType()))\
    .withColumn("Total", col("Total").cast(IntegerType()))

In [0]:
entries_gender.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Total: integer (nullable = true)

Reading the remaining data by using the option: option("inferSchema", "True") in order to detect data type from the csv file

In [0]:
medals = spark.read.format("csv").option("header", "True").option("inferSchema", "True").load("/mnt/tokyoolympic/raw-data/medals.csv")
teams = spark.read.format("csv").option("header", "True").option("inferSchema", "True").load("/mnt/tokyoolympic/raw-data/teams.csv")

In [0]:
medals.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Team/NOC: string (nullable = true)
 |-- Gold: integer (nullable = true)
 |-- Silver: integer (nullable = true)
 |-- Bronze: integer (nullable = true)
 |-- Total: integer (nullable = true)
 |-- Rank by Total: integer (nullable = true)

In [0]:
teams.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- NOC: string (nullable = true)
 |-- Event: string (nullable = true)

Some analytics...

In [0]:
# Find top countries with highest number of gold medals:

countries_with_gold_medals = medals.orderBy("Gold", ascending=False).show()

+----+--------------------+----+------+------+-----+-------------+
|Rank|            Team/NOC|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
|   6|           Australia|  17|     7|    22|   46|            6|
|   7|         Netherlands|  10|    12|    14|   36|            9|
|   8|              France|  10|    12|    11|   33|           10|
|   9|             Germany|  10|    11|    16|   37|            8|
|  10|               Italy|  10|    10|    20|   40|            7|
|  11|              Canada|   7|     6|    11|   24|           11|
|  12|              Brazil|   7|     6|     8|   21|           12|
|  13|         New Zealand|   7|     6|     7|   20|           13|
|  14|                Cuba|   7|     3|     5|   15|           18|
|  15|             Hungary|   6|     7|     7|   20|           13|
|  16|   Republic of Korea|   6|     4|    10|   20|           13|
|  17|              Poland|   4|     5|     5|   14|           19|
|  18|      Czech Republic|   4|     4|     3|   11|           23|
|  19|               Kenya|   4|     4|     2|   10|           25|
|  20|              Norway|   4|     2|     2|    8|           29|
+----+--------------------+----+------+------+-----+-------------+
only showing top 20 rows

In [0]:
type(medals)

Out[39]: pyspark.sql.dataframe.DataFrame

To run sql queries on spark dataframes, first create a temporary view and then run queries on the view

In [0]:
medals.createOrReplaceTempView("medals_view")

In [0]:
%sql
select `Team/NOC`, Gold from medals_view order by Gold desc

Team/NOC,Gold
United States of America,39
People's Republic of China,38
Japan,27
Great Britain,22
ROC,20
Australia,17
Netherlands,10
France,10
Germany,10
Italy,10
Canada,7
Brazil,7
New Zealand,7
Cuba,7
Hungary,6
Republic of Korea,6
Poland,4
Czech Republic,4
Kenya,4
Norway,4
Jamaica,4
Spain,3
Sweden,3
Switzerland,3
Denmark,3
Croatia,3
Islamic Republic of Iran,3
Serbia,3
Belgium,3
Bulgaria,3
Slovenia,3
Uzbekistan,3
Georgia,2
Chinese Taipei,2
Turkey,2
Greece,2
Uganda,2
Ecuador,2
Ireland,2
Israel,2
Qatar,2
Bahamas,2
Kosovo,2
Ukraine,1
Belarus,1
Romania,1
Venezuela,1
India,1
"Hong Kong, China",1
Philippines,1
Slovakia,1
South Africa,1
Austria,1
Egypt,1
Indonesia,1
Ethiopia,1
Portugal,1
Tunisia,1
Estonia,1
Fiji,1
Latvia,1
Thailand,1
Bermuda,1
Morocco,1
Puerto Rico,1
Colombia,0
Azerbaijan,0
Dominican Republic,0
Armenia,0
Kyrgyzstan,0
Mongolia,0
Argentina,0
San Marino,0
Jordan,0
Malaysia,0
Nigeria,0
Bahrain,0
Saudi Arabia,0
Lithuania,0
North Macedonia,0
Namibia,0
Turkmenistan,0
Kazakhstan,0
Mexico,0
Finland,0
Botswana,0
Burkina Faso,0
Côte d'Ivoire,0
Ghana,0
Grenada,0
Kuwait,0
Republic of Moldova,0
Syrian Arab Republic,0

In [0]:
result = spark.sql("select `Team/NOC`, Gold from medals_view order by Gold desc")
result.show()

+--------------------+----+
|            Team/NOC|Gold|
+--------------------+----+
|United States of ...|  39|
|People's Republic...|  38|
|               Japan|  27|
|       Great Britain|  22|
|                 ROC|  20|
|           Australia|  17|
|         Netherlands|  10|
|              France|  10|
|             Germany|  10|
|               Italy|  10|
|              Canada|   7|
|              Brazil|   7|
|         New Zealand|   7|
|                Cuba|   7|
|             Hungary|   6|
|   Republic of Korea|   6|
|              Poland|   4|
|      Czech Republic|   4|
|               Kenya|   4|
|              Norway|   4|
+--------------------+----+
only showing top 20 rows

In [0]:
# Calculate the average number of entries by gender for each discipline
average_entries_by_gender = entries_gender.withColumn(
    'Avg_Female', entries_gender['Female'] / entries_gender['Total']
).withColumn(
    'Avg_Male', entries_gender['Male'] / entries_gender['Total']
)
average_entries_by_gender.show()

+--------------------+------+----+-----+-------------------+-------------------+
|          Discipline|Female|Male|Total|         Avg_Female|           Avg_Male|
+--------------------+------+----+-----+-------------------+-------------------+
|      3x3 Basketball|    32|  32|   64|                0.5|                0.5|
|             Archery|    64|  64|  128|                0.5|                0.5|
| Artistic Gymnastics|    98|  98|  196|                0.5|                0.5|
|   Artistic Swimming|   105|   0|  105|                1.0|                0.0|
|           Athletics|   969|1072| 2041| 0.4747672709456149| 0.5252327290543851|
|           Badminton|    86|  87|  173|0.49710982658959535| 0.5028901734104047|
|   Baseball/Softball|    90| 144|  234|0.38461538461538464| 0.6153846153846154|
|          Basketball|   144| 144|  288|                0.5|                0.5|
|    Beach Volleyball|    48|  48|   96|                0.5|                0.5|
|              Boxing|   102| 187|  289|0.35294117647058826| 0.6470588235294118|
|        Canoe Slalom|    41|  41|   82|                0.5|                0.5|
|        Canoe Sprint|   123| 126|  249| 0.4939759036144578| 0.5060240963855421|
|Cycling BMX Frees...|    10|   9|   19| 0.5263157894736842|0.47368421052631576|
|  Cycling BMX Racing|    24|  24|   48|                0.5|                0.5|
|Cycling Mountain ...|    38|  38|   76|                0.5|                0.5|
|        Cycling Road|    70| 131|  201| 0.3482587064676617| 0.6517412935323383|
|       Cycling Track|    90|  99|  189|0.47619047619047616| 0.5238095238095238|
|              Diving|    72|  71|  143| 0.5034965034965035| 0.4965034965034965|
|          Equestrian|    73| 125|  198| 0.3686868686868687| 0.6313131313131313|
|             Fencing|   107| 108|  215|0.49767441860465117| 0.5023255813953489|
+--------------------+------+----+-----+-------------------+-------------------+
only showing top 20 rows

In [0]:
athletes.repartition(4).write.mode("overwrite").option("header", "True").csv("/mnt/tokyoolympic/transformed-data/athletes/")

In [0]:
coaches.repartition(1).write.mode("overwrite").option("header", "True").csv("/mnt/tokyoolympic/transformed-data/coaches/")
entries_gender.repartition(1).write.mode("overwrite").option("header", "True").csv("/mnt/tokyoolympic/transformed-data/entries_gender/")
medals.repartition(1).write.mode("overwrite").option("header", "True").csv("/mnt/tokyoolympic/transformed-data/medals/")
teams.repartition(1).write.mode("overwrite").option("header", "True").csv("/mnt/tokyoolympic/transformed-data/teams/")